p {
  margin: 0 0 4px 0;
}

.group {
  margin-bottom: 8px;
  padding-left: 10px;
}

.actions {
  margin: 30px 0;
}

.btn-edit {
  background-color: rgb(187, 148, 55);
  color: white;
  margin-right: 10px;
}

.btn-delete {
  background-color: rgb(159, 63, 44);
  color: white;
  margin-right: 10px;
}
